/*////////////////////////MOBILE INDEX/////////////*/

html,
body {
    width: 100%;
    margin: 0;
}

#girutasLogoAnim {
    background: url(img/Logo-step2.png) no-repeat center;
    background-size: contain;
    width: 70vw;
    height: 200px;
    max-width: 500px;
    max-height: 440px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: burn 2s ease-in-out infinite alternate;
}

@keyframes burn {
    100% {
        background-image: url(img/Logo-step3.png);
    }
}

#lettering {
    display: block;
    margin: auto;
    width: 70vw;
    max-width: 400px;
}

#motto {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 5vw;
    text-align: center;
}

#indexNav a {
    font-family: Varela;
    font-size: 4vw;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr 1fr;
    text-align: center;
    width: 80vw;
    margin: auto;
    text-decoration: none;
    color: black;
}

#dirbame,
#kontaktai {
    border-top: 1px solid black;
}


/*///////////////////////NAVIGATION IN OTHER MOBILE PAGES/////////////*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.burger {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    z-index: 5;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.otherNav {
    position: absolute;
    margin-top: 20px;
    margin-left: -22px;
}

.menuList {
    margin-top: 45px;
    list-style-type: none;
}

li {
    border: 1pt solid black;
    border-radius: 20px;
    width: 35vw;
    margin-bottom: 7px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto;
    font-size: 0.9em;
    color: black;
    width: 37vw;
}

#smallLogo {
    margin: auto;
    bottom: 0;
    top: 0;
    right: 30px;
    width: 40vw;
    max-width: 150px;
    cursor: pointer;
    position: absolute;
    grid-column: 2;
}

.pageTop {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 180px;
    border-bottom: 1pt solid black;
    position: relative;
    width: 100%;
    margin-left: 0;
}


/*CONTENT PADDING MOBILE*/

#contentApie,
#contentKontaktai,
#dirbameSuContent {
    padding: 0px 20px;
}


/*//////////////////////////////APIE MUS MOBILE CONTENT///////////////*/

#contentApie h1,
#contentKontaktai h1,
#dirbameSuContent h1 {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.2em;
}

#contentApie p {
    font-family: 'Fira Sans';
    font-weight: 300;
    font-size: 1.03em;
}


/*////////////////////KONTAKTAI CONTENT///////////////////*/

#contentKontaktai {
    margin-top: 40px;
}

#contentKontaktai h1:nth-child(2) {
    margin-bottom: 50px;
}

#map {
    /*position: relative;*/
    display: block;
    margin: auto;
    width: 80vw;
    height: 25vh;
    border: 0;
}


/*//////////////////////////DIRBAME SU CONTENT/////////////////*/

#dirbameSuContent img {
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    cursor: pointer;
}


/*//////////////////////////////FOOTER///////////////////////// */

footer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0vh;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 10pt;
    margin-top: 30px;
}

@media all and (max-height: 600px),
all and (min-width: 400px) {
    footer {
        position: relative;
    }
}


/*CLASS FOR DONT DISPLAY*/

.dontDisplay {
    display: none;
}
