/*////////////////////////MOBILE INDEX/////////////*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#desktopIndex{
    display: none;
}
#girutasLogoAnim {
    background: url(img/Logo-step2.png) no-repeat center;
    background-size: contain;
    width: 70vw;
    height: 200px;
    max-width: 500px;
    max-height: 440px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: burn 2s ease-in-out infinite alternate;
}

@keyframes burn {
    100% {
        background-image: url(img/Logo-step3.png);
    }
}

#lettering {
    display: block;
    margin: auto;
    width: 70vw;
    max-width: 400px;
}

#motto {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 5vw;
    text-align: center;
}

#indexNav a {
    font-family: Varela;
    font-size: 4vw;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr 1fr;
    text-align: center;
    width: 80vw;
    margin: auto;
    text-decoration: none;
    color: black;
}

#dirbame,
#kontaktai {
    border-top: 1px solid black;
}


/*///////////////////////NAVIGATION IN OTHER MOBILE PAGES/////////////*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.burger {
    cursor: pointer;
    right: 15px;
    margin-top: 15px;
    position: absolute;
    z-index: 5;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.otherNav {
    position: absolute;
    margin-top: 20px;
    right: 15px;
}

.menuList {
    margin-top: 40px;
    list-style-type: none;
}

li {
    border: 1pt solid black;
    border-radius: 20px;
    width: 35vw;
    margin-bottom: 7px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto;
    font-size: 0.9em;
    color: black;
    width: 37vw;
}

#smallLogo {
    margin: auto;
    bottom: 0;
    top: 0;
    left: 20px;
    width: 42vw;
    max-width: 150px;
    cursor: pointer;
    position: absolute;
}

.pageTop {
    height: 180px;
    border-bottom: 1pt solid black;
    position: relative;
    width: 100%;
}


/*CONTENT PADDING MOBILE*/

.contentApie,
.contentKontaktai,
.dirbameSuContent {
    padding: 0px 20px;
    margin-bottom: 20px;
}

#container {
    min-height: 100%;
    position: relative;
    padding-bottom: 20px;
}


/*//////////////////////////////APIE MUS MOBILE CONTENT///////////////*/

.contentApie h1,
.contentKontaktai h1,
.dirbameSuContent h1 {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.2em;
}

.contentApie p {
    font-family: 'Fira Sans';
    font-weight: 300;
    font-size: 1.03em;
}


/*////////////////////KONTAKTAI CONTENT///////////////////*/

.contentKontaktai {
    margin-top: 40px;
}

.contentKontaktai h1:nth-child(2) {
    margin-bottom: 50px;
}

#map {
    display: block;
    margin: auto;
    width: 70vw;.
    height: 200px;
    border: 0;
    max-width: 700px;
}


/*//////////////////////////DIRBAME SU CONTENT/////////////////*/

.dirbameSuContent img {
    width: 80vw;
    max-width: 600px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid black;
    cursor: pointer;
}


/*//////////////////////////////FOOTER///////////////////////// */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 10pt;
}

/*//////////////////////////////BREAKPOINT 1 PHABLET/TABLET///////////////////////// */

@media only screen and (min-width: 500px) {
    /*///////////////////////INDEX/////////////*/
    #girutasLogoAnim {
        width: 300px;
        height: 300px;
    }
    #motto {
        font-size: 20pt;
    }
    #indexNav a {
        width: 70vw;
        font-size: 20pt;
    }
    /*///////////////////////NAVIGATION /////////////*/
    li {
        width: 40vw;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
        margin-bottom: 11px;
    }
    .pageTop {
        height: 280px;
    }
    #smallLogo {
        max-width: 200px;
        margin: auto;
        left: 6vw;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 50px;
        height: 6px;
        margin: 8px 0;
    }
    .change .bar3 {
        transform: rotate(45deg) translate(-13px, -14px);
    }
    .burger {
        margin-top: 30px;
        right: 40px;
    }
    .menuList {
        margin-top: 70px;
        margin-right: 25px;
    }
    /*////////////////////CONTENT PADDING///////////////////////////*/
    .contentApie,
    .contentKontaktai{
        padding: 0vw 10vw;
    }
    /*DIRBAME CONTENT MARGINS*/
    .dirbameSuContent img{
        margin-bottom: 50px;
    }
    /*MAP IN KONTAKTAI*/
    #map{
        height: 300px;
    }
}
/*EXTRA BREAKPOINT FOR MARGINS AND PADDING OF TOP MENU AND CONTENT*/
@media only screen and (min-width: 607px){
    .burger {
        right: 10vw;
    }
    .menuList {
        margin-right: 10vw;
    }
    #smallLogo {
        left: 10vw;
    }
    .contentApie{
        padding: 0vw 20vw;
    }
}

/*///////////////////////////////////////////////DESKTOP VERSION/BREAKPOINT//////////////////////////////////////////////////////////*/
@media only screen and (min-width: 1000px){
    body{
        overflow: hidden;
    }
    #desktopIndex{
        display: inherit;
    }
    #logo{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    #indexNav{
        display: none;
    }
    #girutasLogoAnim{
        height: 190px;
        margin: auto;
        grid-column: 3;
    }
    #lettering{
        grid-row: 2;
        width: 50vw;
        max-width: 500px;
    }
    #motto{
        font-size: 15pt;
        grid-row: 3;
    }
    #letterMotto{
        margin-top: 10px;
        margin-left: -21px;
        display: grid;
        grid-template-rows:1fr 1fr 1fr;
    }
    #navRoof{
        grid-row: 1;
        width: 130px;
        position: absolute;
        top: -40px;
        left: 100px;
    }
    #desktopNav{
        width: 1000px;
        margin: auto;
        margin-top: 50px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    #desktopNav a{
        font-family: 'Varela';
        font-size: 1.4em;
        text-align: center;
        cursor: pointer;
        margin: auto;
    }
    .contentApie{
        width: 360px;
        margin: auto;
        margin-top: 5vh;
        font-size: 1.2em;
    }
    footer{
        bottom: 60px;
    }
    .animationToApieMus{
        animation: moveToApie 1s forwards ease-in-out;
    }
    @keyframes moveToApie{
        to{
        left: 100px;
        }
    }
    .animationToKontaktai{
        animation: moveToKontaktai 1s forwards ease-in-out;
    }
    @keyframes moveToKontaktai{
        to{
          left: 435px;
        }
    }
    .animationToDirbameSu{
        animation: moveToDirbameSu 1s forwards ease-in-out;
    }
    @keyframes moveToDirbameSu{
        to{
           left: 768px;
        }
    }
}

/*CLASS FOR NO DISPLAY*/

.dontDisplay {
    display: none;
}
